<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Card API App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row my-5">
        <div class="card">
          <div class="card-body row">
            <div class="col-12 col-md-8 mb-2">
              <input
                type="text"
                value="pikachu"
                class="form-control"
                id="search"
              />
            </div>
            <div class="col-6 col-md-2">
              <button class="btn btn-success w-100" id="btn-all">All</button>
            </div>
            <div class="col-6 col-md-2">
              <button class="btn btn-primary w-100" id="btn-random">
                Random
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row justify-content-center align-items-center"
        id="pokeDeck"
      ></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
